<!DOCTYPE html>
<html ng-app="CompanyAllModules">
<head>
<meta charset="ISO-8859-1">
<title>S & O coupons</title>

<script src= "JS/angular.js" ></script>

<script src= "JS/angular-ui-router.js" ></script>

<script src= "JS/companyRoutingSystem.js" ></script>
<script src= "JS/companyClientSideWebServer.js" ></script>
<script src="JS/bootstrap.js"></script>

<script src= "JS/getAllCoupons.js" ></script>

<link href="styles/bootstrap.css" rel="stylesheet" media="screen">

<link  href="styles/styleTable.css" rel="stylesheet"/>

</head>
<body  ng-controller="getAllCouponsController as getAllCouponsAsController">
	
	<table >
		<tbody>
			<tr>
				<td>
					<img src="images/coupons.jpg" alt="A Nice Picture" width="400" height="200">
				</td>
				<td>
					<img src="images/poh.jpg" alt="A Nice Picture" width="900" height="200">
				</td>
			</tr>
		</tbody>
	</table>
	<table >
		<tbody>
			<tr>
			
				<td>										
					<h3>Welcome {{getAllCouponsAsController.company.compName}} </h3>
						
					<img src="images/LogOut.gif" alt="A Nice Picture" width="90" height="40" ng-click="logout=true">
					<div ng-show = "logout" my-logout-directive></div>
						</td>
						<td width = "30px">
						</td>
						<td style  = "position:absolute">
						<div class = "table-responsive">						
	       					<table >
	        					<tbody>
	        								<tr>
										<td>&nbsp;&nbsp;</td>
										<td valign="top">
											
											<div>
											   <input type="text" placeholder="Search title" ng-model="searchText.title"/>
									           <input type="text" placeholder="Search id" ng-model="searchText.id"/>
									           <input type="text" placeholder="Search type" ng-model="searchText.type"/>
									           <br>
	                  						   <br>
											<table class="tblMain">
	            								<thead>
	              									<tr>
										             	   <th ng-click="sortData('id')">id <div ng-class="getSortClass('id')"></div></th>
										                <th ng-click="sortData('title')">title <div ng-class="getSortClass('title')"></div></th>
										                <th> start date</th>
										                <th> end date</th>    
										               <th ng-click="sortData('amount')">amount <div ng-class="getSortClass('amount')"></div></th>
										                <th ng-click="sortData('type')">coupon type <div ng-class="getSortClass('type')"></div></th>
										                <th> message</th>
										                <th ng-click="sortData('price')">price <div ng-class="getSortClass('price')"></div></th>             
										              	<th> image</th>
										           </tr>
	            								</thead>
												<tbody>
	            									<tr >
	        											<td>
	       								            		<b> create  new coupon</b>
	              										</td>
	          											 <td>
	          										        <form name = "createCouponTitleForm" novalidate>
		              											<input type ="text" name="couponTitle" style="width: 70px" ng-model="getAllCouponsAsController.couponTitle" placeholder="coupon title" ng-required="true">
											            		
										            	    </form>
	        										    </td>
	         											<td >
										               		<form name = "createCouponStartDateForm" novalidate>
										               			<input type ="date" name= "couponStartDate" ng-model="getAllCouponsAsController.couponStartDate" ng-required="true">
										             			
										           	 		</form>
										               </td>
	            	 									<td>
	                    							         <form name = "createCouponEndDateForm" novalidate>
											                    <input type ="date" name= "couponEndDate" ng-model="getAllCouponsAsController.couponEndDate" ng-required="true">
											            		
											     	 		</form>
	              										</td>
	          											 <td>
									        	            <form name = "createCouponAmountForm" novalidate>
									                            <input type ="number" name= "couponAmount" style="width: 40px" ng-model="getAllCouponsAsController.couponAmount" ng-required="true" placeholder="coupon amount">
									            				
															</form>
														  </td>
	        										      <td >
	        
												               <form name = "createCouponTypeForm" novalidate>
												                  <select name = "couponType" ng-model="getAllCouponsAsController.couponType" ng-required="true" placeholder="coupon type">
																	    <option value="RESTURANTS">RESTURANTS</option>
																	    <option value="ELECTRICTY">ELECTRICTY</option>
																	    <option value="FOOD">FOOD</option>
																	    <option value="HEALTH">HEALTH</option>
																	 	<option value="SPROTS">SPROTS</option>
																	    <option value="CAMPING">CAMPING</option>
																	    <option value="TRAVELING">TRAVELING</option>
																  </select>
												            	 
													 		</form>
														</td>
	              										<td>
												     		<input type ="text" style="width: 65px" ng-model="getAllCouponsAsController.couponMessage" placeholder="coupon message" >
												       </td>
												       <td >
												           <form name = "createCouponPriceForm" novalidate>
												               <input type ="number" name = "couponPrice" style="width: 40px" ng-model="getAllCouponsAsController.couponPrice" ng-required="true" placeholder="coupon price">
											            		
													 		</form>
	              										</td>
	           											<td>
	           											<form name = "createCouponPriceImage" novalidate>
															<input id="inputFileToLoad" type="file" ng-required="true" />
															</form>
												        </td>
												        <td>
												        	<input type = "button"  ng-Click="getAllCouponsAsController.createFunction()" value= "create coupon" ng-disabled ="createCouponPriceForm.$invalid || createCouponTypeForm.$invalid || createCouponAmountForm.$invalid || 
												        	 createCouponEndDateForm.$invalid || createCouponPriceForm.$invalid || createCouponStartDateForm.$invalid || createCouponTitleForm.$invalid" >
												        </td>
											    </tr>
								            <tr ng-repeat="coupon in getAllCouponsAsController.coupons | filter : searchText:match | orderBy: sorting:reverseSorting | limitTo:7">
								              <td>
								                   		{{coupon.id}}
								              </td>
								              <td>
								                       {{coupon.title}}
								              </td>
								              <td  >
								                     {{coupon.startDate}}
								              </td>
								              <td ng-hide="getAllCouponsAsController.update">
								                   	 {{coupon.endDate}}
								              </td>
									          <td ng-show="getAllCouponsAsController.update">
									             <form name = "updateCouponEndDateForm" novalidate>
								 				    <input type="date" name = "updateCouponEndDate" ng-model="coupon.couponEndDateUpdate" placeholder="new end date" ng-required="true">
								      			   	<div ng-show = "updateCouponEndDateForm.updateCouponEndDate.$touched && updateCouponEndDateForm.updateCouponEndDate.$invalid">
								      	   				<img src="images/coupons.jpg" alt="A Nice Picture" width="200" height="200">             
								      	   			 </div>
											 	</form>
									          </td>
								        	  <td  >
								             	  {{coupon.amount}}
								              </td>
								              <td >
								                     {{coupon.type}}
								              </td>
								              <td>
								     				{{coupon.message}}
								        	  </td>
								          	  <td ng-hide="getAllCouponsAsController.update">
								                     {{coupon.price |currency}}
								              </td>
											  <td ng-show="getAllCouponsAsController.update">
								        	     <form name = "updateCouponPriceForm" novalidate>
								      	    	    <input type="number" name = "updateCouponPrice" ng-model="coupon.couponPriceUpdate" placeholder="new price" ng-required="true">
								      				<div ng-show = "updateCouponPriceForm.updateCouponPrice.$touched && updateCouponPriceForm.updateCouponPrice.$invalid">
								      	   				<img src="images/coupons.jpg" alt="A Nice Picture" width="200" height="200">             
								      	   			 </div>
											 	</form>
											  </td>
								              <td >
													<img src ={{coupon.image}} alt = "this coupon image can not load" height="50" width="80">        
								       		   </td>
								          		 <td ng-hide="getAllCouponsAsController.update">
								        		    <input type="button" value="update" ng-click="getAllCouponsAsController.updateFunction()" >
										      </td>
											  <td ng-show="getAllCouponsAsController.update">
											    <input type="button" value="Apply" ng-click="getAllCouponsAsController.applyFunction(coupon.title , $index)" ng-disabled = "updateCouponPriceForm.$invalid || updateCouponEndDateForm.$invalid" >
										      </td>
											  <td ng-hide="getAllCouponsAsController.update">
								            	<input type="button" value="remove" ng-click="getAllCouponsAsController.removeFunction(coupon)" >
											  </td>
										 	  <td ng-show="getAllCouponsAsController.update">
								            	<input type="button" value="cancelUpdate" ng-click="getAllCouponsAsController.cancelFunction()" >
											 </td>
											 
										  </tr>
			
								      </table>
	                    		
	                    			  {{getAllCouponsAsController.logMessage}}
	                    			  
						</div>
						<table>
											     <tr>
			<td>
			</td>
			<td>
				<h3>ID : {{getAllCouponsAsController.company.id}}  Email : 
					 {{getAllCouponsAsController.company.email}} <br> password  :  <div ng-show="hidePassword">
		              {{getAllCouponsAsController.company.password}} </div></h3>
		              <input type="checkbox" ng-model="hidePassword"/> show password		
			</td></tr>
						</table>
								</td>
								<td>&nbsp;&nbsp;</td>
								
							</tr>
						</tbody>
					</table>
						</div>
						</td>
				<td>
				<div ng-show = "(createCouponTitleForm.couponTitle.$touched && createCouponTitleForm.couponTitle.$invalid) || (createCouponStartDateForm.couponStartDate.$touched && createCouponStartDateForm.couponStartDate.$invalid) || (createCouponEndDateForm.couponEndDate.$touched && createCouponEndDateForm.couponEndDate.$invalid) 
				|| (createCouponAmountForm.couponAmount.$touched && createCouponAmountForm.couponAmount.$invalid) || (createCouponTypeForm.couponType.$touched && createCouponTypeForm.couponType.$invalid ) || (createCouponPriceForm.couponPrice.$touched && createCouponPriceForm.couponPrice.$invalid)">
							<img src="images/error.gif" alt="A Nice Picture" width="350" height="350">             
						</div>
				</td>
			</tr>
				
		</tbody>
	</table>
	 	
</body>
		
</html>